{% extends 'base.html.twig' %}

{% block body %}
	<h2>This is add recipe page</h2>

	<div>
    {{ form_start(form, {attr: { class: 'js-custom-form' }}) }}
      {{ form_row(form.name) }}
      {{ form_row(form.description) }}
      <button type="submit" class="btn btn-primary">Save recipe</button>

    {{ form_end(form, {render_rest: false}) }}
    
	</div>
{% endblock %}
